/* Login Start */
.mdwizzio{
    height:170px; width:450px; display:block; 
    margin-left:auto; margin-right:auto; margin-top:70px;
}
.smwizzio{
    height:200px; width:350px; display:block; margin-left:auto;
     margin-right:auto; marginTop:70px;
}
.xswizzio{
    height:150px; width:250px; display:block; 
    margin-left:auto; margin-right:auto; margin-top:70px;
}

/* Start wizzio credentials */
.wizziocredentials{
    text-align:center; color:white; font-weight: 300;
     font-size: 14px; margin:20px;
}
.xswizziocredentials{
    text-align:center; color:white; font-weight:300; 
    font-size: 14px;
}

/*user Addon  */
.loginuserinputaddon{
    background-color: transparent; color:white; border:0px; 
    border-bottom:1px solid white;
}

/* start user input icon */
.loginuserinputicon{
    height:20px;
}
.loginuserinput{
    background-color: transparent; color:white; border:0px; 
    border-bottom:1px solid white; font-weight:400;
}

/* login password  input right addon */
.loginpassinputaddon{
    background-color: transparent; color:white; border:0px;
    border-bottom:1px solid white;
}

/* addon right icon */
.loginpassinputicon{
    height:20px;
}

/* login pass input */
.loginpassinput{
    background-color: transparent; color:white; border:0px;
     border-bottom:1px solid white;
}

/* login pass input right addon */
.loginpassinputrightaddon{
    background-color: transparent; color:white; 
    border:0px; border-bottom:1px solid white;
}

/* login pass input right icon */

.loginpassinputrighticon{
    height:20px;
    cursor: pointer;
}